body {
    margin: 0;
}
a {
    color: white;
}
nav, footer {
    background-color: black;
    padding: 50px 0;
    color: white;
}

.results {
    display: flex;
}

.results li {
    padding: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: flex;
}
.results p {
    font-size: 20px;
}